* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: #333;
    height: 80px;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px ;
    text-decoration: none;
    min-height: 28px;
    min-width: 38px;
  }
  .topnav a:hover {
    background-color: #F09A9D;
    color: #333;
}
 /* .topnav a.active {
  background-color: #B2D6FF;
  color: white;
}*/
  
.header {
    background-color: #F09A9D;
    color: #333;
    text-transform: capitalize;
}
.header:hover {
  opacity: 0.7;
  color: black;
}

/*FORM*/
.form {
  background-color: #B2D6FF;
  height: 600px;
  color: #333;
  border-radius: 5px;
  
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=button],[type=reset] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: #EAEDF0;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 75%;
  
}

input[type=button]:hover {
  animation-name: background-color;
  animation-fill-mode: forwards;
  background-color: white;
}
@keyframes background-color {
  100% {
    background-color: #EAEDF0;
    color: #333;
  }
}
input[type=reset]:hover {
  animation-name: background-color;
  animation-fill-mode: forwards;
  background-color: white;
}
@keyframes background-color {
  100% {
    background-color: #EAEDF0;
    color: #333;
  }
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*END FORM*/

.content {
    background-color: #EAEDF0;
    height: 600px;
    color: #333;

}

article {
    padding: 20px 20px 20px 20px;
    line-height: 25px;
}
  
.typeform {
    background-color: #B2D6FF;
}

#searchbar {
    min-height: 48px;
    min-width: 48px;         
}
    
.searchbutton {
    border-radius: 4px;
    color: white;
    background-color: #333;
    padding: 5px 5px 5px 5px;
    min-height: 48px;
    min-width: 48px;
    width: 100%;
} 
.searchbutton:hover {
    animation-name: background-color;
    animation-fill-mode: forwards;
    background-color: white;
    
}
  @keyframes background-color {
    100% {
      background-color: #EAEDF0;
      color: #333;
    }
  }
  
img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
img:hover {
  opacity: 0.7;
}
.link {
  background-color: #F09A9D;
  height: 80px;
  
}
.linkk {
  color: #333;
}
.linkk:hover {
  opacity: 0.7;
}
  
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
    }
    .link {
      background-color: #EAEDF0;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .typeform,
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 50%;
    
  }
  .typeform {
    order: 2;
  }
  .link {
    
    order: 3;
  }
  form {
    width: 70%;
    margin-top: 0;
  }
  .col-25, .col-75, input[type=button], input[type=reset] {
    width: 100%;
    margin-top: 0;
  }

}
  
  /* Desktop Styles */
  
    @media only screen and (min-width: 961px) {
        .page {
          width: 960px;
          margin: 0 auto;
        }
        .feature-1,
        .feature-2,
        .feature-3 {
          width: 33.3%;
        }
        .header {
          height: 400px;
        }
        .typeform {
            height: 200px;
            order: 2;
        }
        .content {
            order: 1;
          
          }
        .link {
          order:3
        }
        form {
          width: 70%;
          margin-top: 0;
        }
        .col-25, .col-75, input[type=button], input[type=reset] {
          width: 100%;
          margin-top: 0;
        }
        
      }
  
  